body {
  padding-top: 100px;
}
.implementation-nav {
    top: 50px;
    background-color: #fc0;
    background-image: linear-gradient(#fc0, #c90 100%);
}
.implementation-nav .navbar-brand, .implementation-nav .navbar-nav>li>a {
    color: #000000;    
}